<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.varsitycollege.WIL">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.hardware.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.hardware.camera.autofocus" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MaterialComponents.Light.NoActionBar">
        <activity
            android:name=".List_Speech"
            android:exported="false" />
        <activity
            android:name=".List_FoodDonations"
            android:exported="false" />
        <activity
            android:name=".SpeechTherapy"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".Testing_neumorphism"
            android:exported="false" />
        <activity
            android:name=".List_Employability"
            android:exported="false" />
        <activity
            android:name=".List_Sithunjwana"
            android:exported="false" />
        <activity
            android:name=".List_Inkanyiso"
            android:exported="false" />
        <activity
            android:name=".LIst_Thandi"
            android:exported="false" />
        <activity
            android:name=".About_Socials"
            android:exported="false" />
        <activity
            android:name=".LifeSkillsTraining"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".texttospeech"
            android:exported="false" />
        <activity
            android:name=".Sithunjwana_List"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".aboutEmployability"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ItemList"
            android:exported="false" />
        <activity
            android:name=".ForgotPassword"
            android:exported="false" />
        <activity
            android:name=".Collab"
            android:exported="false" />
        <activity
            android:name=".Employability_life_skills_training"
            android:exported="false" />
        <activity
            android:name=".Thandi_House"
            android:exported="false" />
        <activity
            android:name=".Sithunjwana_full_service_school"
            android:exported="false" />
        <activity
            android:name=".Inkanyiso"
            android:exported="false" />
        <activity
            android:name=".Payments"
            android:exported="false" />
        <activity
            android:name=".InkanyisoDayCareCentre"
            android:exported="false" />
        <activity
            android:name=".ServiceSchool"
            android:exported="false" />
        <activity
            android:name=".InitiativeActivity"
            android:exported="false" />
        <activity
            android:name=".DonationsActivity"
            android:exported="false" />
        <activity
            android:name=".CollaborationActivity"
            android:exported="false" />
        <activity
            android:name=".RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>